@import url("./__button/form__button.css");
@import url("./__input/form__input.css");
@import url("./__title/form__title.css");

.form {
  min-width: 320px;
  width: 33vw;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px 34px;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .form {
    min-width: 240px;
  }
}

.form__container {
  position: relative;
}
