@import url("./fonts/inter.css");
@import url("./vendor/normalize.css");

.page {
  color: #ffffff;
  font-family: Inter;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
  align-items: center;
}

.header {
  margin: 45px auto 0;
  min-width: 882px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 0 0 41px;
}

@media screen and (max-width: 1140px) {
  .header__logo {
    margin: 28px 27px 0;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px 27px 0;
  }
}

.header__line {
  opacity: 0.7;
  border: 1px solid #545454;
}

.container {
  margin: 0 199px;
  padding: 0;
  max-width: 1280px;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 282px;
    margin: 0 19px;
  }
}

.edit__container {
  display: flex;
}

.profile {
  display: flex;
  width: 100%;
  max-width: 882px;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 51px;
}

@media screen and (max-width: 1140px) {
  .profile {
    flex-direction: column;
    min-width: 282px;
    margin: 38.25px 0 0;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    min-width: 282px;
    margin: 38.25px 0 0;
    justify-content: center;
    align-items: center;
  }
}

.profile__pic-box {
  width: 146.25px;
  height: 127.5px;
  display: flex;
  justify-content: center;
  margin: 0 22.5px 0 0;
}

@media screen and (max-width: 700px) {
  .profile__pic-box {
    width: 168.75px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.profile__pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 0;
  border: 1px solid green;
}

.profile__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1140px) {
  .profile__text {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .profile__info {
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (max-width: 1140px) {
  .profile__info {
    flex-direction: column;
    margin: 0;
  }
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  margin: 0 0 16px;
  min-width: 380px;
}

@media screen and (max-width: 700px) {
  .profile__name {
    font-size: 22px;
    line-height: calc(56 / 22);
    min-width: 201px;
    margin: 0;
  }
}

.profile__job {
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  margin: 0;
}

@media screen and (max-width: 700px) {
  .profile__job {
    font-size: 14px;
    line-height: calc(17 / 14);
    text-align: center;
  }
}

.top-text {
  flex-direction: row;
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 700px) {
  .top-text {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .top-text {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    text-align: center;
  }
}

.card {
  max-width: 282px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.edit {
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .edit {
    height: 18px;
    width: 18px;
  }
}

.pencil {
  background-size: contain;
  background-repeat: no-repeat;
}

.edit:hover {
  opacity: 0.6;
}

.add {
  width: 150px;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  border: 2px solid #ffffff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1140px) {
  .add {
    width: 282px;
    height: 50px;
    margin: 36px 0;
  }
}

@media screen and (max-width: 700px) {
  .add {
    width: 282px;
    height: 50px;
    margin: 36px 0;
  }
}

.plus {
  height: 22px;
  width: 22px;
}

.add:hover {
  opacity: 0.6;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.cards__list {
  list-style: none;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1140px) {
  .cards__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 730px) {
  .cards__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.card__pic {
  width: 100%;
  border-radius: 10px;
}

.card__top {
  width: 100%;
  height: 282px;
  background-color: black;
}

.card__text {
  max-width: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__title {
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 20px 0;
}

.heart {
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  transition: 0.3s;
  outline: none;
}

.heart::-moz-focus-inner {
  border: 0;
}

.heart__pic {
  margin: 0;
  padding: 0;
}

.heart__pic:hover {
  opacity: 0.6;
  transform: scale(1.3);
}

.liked {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* 
.border {
  border: 1px solid teal;
} */

.popUp {
  background-color: #00000052;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.popUp_open {
  display: flex;
}

.form {
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background: #ffffff;
  opacity: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
}

.edit__profile {
  color: black;
  margin: 28px 36px 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
}

.form__button {
  width: 358px;
  height: 50.15px;
  background: black;
  color: white;
  font-size: 18px;
  line-height: calc(22 / 18);
  border-radius: 2px;
  align-self: center;
  margin-top: 18.26px;
  margin-bottom: 36px;
  border: none;
  padding: none;
}
.form__button:hover {
  opacity: 0.8;
}

.form__line {
  height: 0;
  width: 358px;
  border: 0.01px solid black;
  margin: 0 36px 29.74px;
  padding: 0;
  opacity: 0.2;
}

.form__input {
  margin-left: 36px;
  margin-bottom: 10.26px;
  border: none;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.popUp__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  right: -30px;
  height: 31px;
  width: 31px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.popUp__close-button:hover {
  opacity: 0.8;
}

.footer {
  width: 100%;
  margin: 0 199px;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .footer {
    margin: 0 19px;
    display: flex;
  }
}

.footer__text {
  max-width: 882px;
  margin: 0 199px;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .footer__text {
    max-width: 578px;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .footer__text {
    max-width: 282px;
    margin: 0 19px;
    width: 100%;
  }
}

.copyright {
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #545454;
  margin: 66px 0 60px;
  max-width: 318px;
}

@media screen and (max-width: 700px) {
  .copyright {
    font-size: 14px;
    line-height: calc(17 / 14);
    margin: 48px 0 36px;
    max-width: 282px;
  }
}
