@import url("./__info/profile__info.css");
@import url("./__job/profile__job.css");
@import url("./__name/profile__name.css");
@import url("./__pic-box/profile__pic-box.css");
@import url("./__pic/profile__pic.css");
@import url("./__text/profile__text.css");

.profile {
  display: flex;
  width: 100%;
  max-width: 882px;
  justify-content: space-between;
  align-items: center;
  margin: 36.25px 0 47.25px;
}

@media screen and (max-width: 1140px) {
  .profile {
    flex-direction: column;
    min-width: 282px;
    margin: 38.25px 0 0;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    flex-direction: column;
    min-width: 282px;
    margin: 38.25px 0 0;
    justify-content: center;
    align-items: center;
  }
}
