.header__logo {
  width: 173px;
  min-height: 33px;
  margin: 0 0 41px;
}
@media screen and (max-width: 1140px) {
  .header__logo {
    margin: 0 0 41px;
  }
}

@media screen and (max-width: 750px) {
  .header__logo {
    width: 126px;
    min-height: 24px;
    margin: 0 27px 32px;
  }
}
