.footer__text {
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1140px) {
  .footer__text {
    max-width: 578px;
  }
}

@media screen and (max-width: 750px) {
  .footer__text {
    max-width: 282px;
    width: 100%;
  }
}
