.modal__card {
  position: relative;
  max-height: 75vw;
  max-width: calc(75vw - 30px);
  object-fit: contain;
}

@media screen and (max-width: 1140px) {
  .modal__card {
    min-width: 200px;
  }
}
