.popUp__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 207px);
  right: calc(50% - 251px);
  min-height: 31px;
  width: 31px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.popUp__close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .popUp__close-button {
    top: calc(50% - 207px);
    right: calc(50% - 132px);
  }
}
