@import url("./__close-button/modal__close-button.css");
@import url("./__card/modal__card.css");
@import url("./__container/modal__container.css");

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms, linear 300ms;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
