@import url("./__close-button/modal__close-button.css");
.modal {
  background-color: #00000052;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
