.heart__pic {
  margin: 0;
  padding: 0;
}

.heart__pic:hover {
  opacity: 0.8;
  transform: scale(1.5);
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
