@import url("./__pic/heart__pic.css");

.heart {
  min-height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  transition: 0.3s;
  outline: none;
  padding: 0;
}
