@import url("./__text/footer__text.css");

.footer {
  width: 100%;

  max-width: 882px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

@media screen and (max-width: 1140px) {
  .footer {
    margin: 0 auto;

    max-width: 584px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    margin: 0 auto;
    max-width: 282px;
  }
}
