@import url("./__pic/card__pic.css");
@import url("./__text/card__text.css");
@import url("./__title/card__title.css");
@import url("./__heart/card__heart.css");

.card {
  max-width: 282px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
