.profile__pic {
  position: relative;
  z-index: 2;
  border-radius: 100%;
  width: 122px;
  height: 122px;
  padding: 0;
  margin-right: 32px;
}

@media screen and (max-width: 750px) {
  .profile__pic {
    margin: 0;
  }
}

