.delete {
  width: 18px;
  height: 19.3px;
  background-color: transparent;
  border: none;
  background-image: url(../../images/delete.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
