.profile__pic-box {
  display: flex;
  justify-content: center;
  margin: 0 31px 0 0;
}
@media screen and (max-width: 750px) {
  .profile__pic-box {
    width: 168.75px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
